.site-header {
  overflow: hidden;

  &__wrapper {
    position: relative;
    z-index: 2;
    transition: all .34s ease-in-out;
  }

  &__bg {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all .34s ease-in-out;

    // &--dark {
    //   background-color: rgba(#193a4d, .34);
    //   // backdrop-filter: blur(calc(100vw / 55));
    //   backdrop-filter: blur(21px);
    //   transition: all .34s ease-in-out;
    // }
  }

  &__brand {
    position: relative;
    min-width: 160px;
    max-width: 240px;
    width: 100%;
    height: auto;

    &--img {
      width: 100%;
      max-height: 80px;
      object-fit: contain;
      position: relative;
      z-index: 2;
    }

    &--light {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 21%;
      transform: translate(-50%, -50%);
      background: radial-gradient(ellipse at center, rgba(255, 255, 255, .13) 0%, rgba(255, 255, 255, 0) 55%);

    }
  }

  &__collapse {
    height: 100%;
    display: flex;
    align-items: center;

    .menu {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }
}