.bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // z-index: 1;
  // width: 100%;
  // height: 100%;
  z-index: 1;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  background-color: #82ada8;
  // background: linear-gradient(rgba(#2FB489,.55) 0, rgba(#34749A,.55) 100%);
  // background: radial-gradient(rgba(#2FB489,.55) 0, rgba(#34749A,.55) 100%);
  
  &-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    mix-blend-mode: multiply;
    user-select: none;
    pointer-events: all;
    opacity: .34;
    
    .sphere {
      position: absolute;
      transform: translate(-50%, -50%);
      mix-blend-mode: lighten;
      mix-blend-mode: plus-lighter;
      // mix-blend-mode: darken;
      filter: blur(min(13vw, 13vh));
      user-select: none;
      pointer-events: none;
    }
  }
}