.contacts-modal {
  &-dialog {
    @include media-breakpoint-up(sm) {
      max-width: calc(100vw - 120px);
    }

    .ss-bg-blur {
      background-color: rgba($black, .34);
      backdrop-filter: blur(34px);
    }
  }
}